docs/n8n/deploy-bot-workflow.json
{
  "name": "OpenClaw deploy bot",
  "meta": {
    "description": "Ready to import. Webhook body matches Supabase deploy-bot. If updateStackOnly is true → POST deploy to infra.agentBaseUrl only. If false → POST provision to provider.vpsApiBaseUrl with Authorization Bearer provider.vpsApiToken, then POST deploy using the original Map payload (provision response does not include botDeploymentId/env). See docs/n8n/DEPLOY_WORKFLOW.md."
  },
  "nodes": [
    {
      "id": "webhook-openclaw",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "openclaw-deploy",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "set-env",
      "name": "Map payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "botDeploymentId",
              "value": "={{ $json.body.botDeploymentId ?? $json.botDeploymentId }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "customerLabel",
              "value": "={{ $json.body.customerLabel ?? $json.customerLabel }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "env",
              "value": "={{ $json.body.env ?? $json.env }}",
              "type": "object"
            },
            {
              "id": "a4",
              "name": "updateStackOnly",
              "value": "={{ $json.body.updateStackOnly ?? $json.updateStackOnly ?? false }}",
              "type": "boolean"
            },
            {
              "id": "a5",
              "name": "provider",
              "value": "={{ $json.body.provider ?? $json.provider ?? {} }}",
              "type": "object"
            },
            {
              "id": "a6",
              "name": "infra",
              "value": "={{ $json.body.infra ?? $json.infra ?? {} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "if-update-stack",
      "name": "If updateStackOnly",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-update-stack-only",
              "leftValue": "={{ $json.updateStackOnly }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "http-vps",
      "name": "Provision new VPS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 460],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.provider.vpsApiBaseUrl }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($json.provider.vpsApiToken || '') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ label: $json.customerLabel, deploymentId: $json.botDeploymentId }) }}",
        "options": {}
      }
    },
    {
      "id": "http-docker-update",
      "name": "Deploy stack (update only)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 140],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.infra.agentBaseUrl ? new URL('/deploy', $json.infra.agentBaseUrl).href : '' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ botDeploymentId: $json.botDeploymentId, customerLabel: $json.customerLabel, env: $json.env, updateStackOnly: $json.updateStackOnly }) }}",
        "options": {}
      }
    },
    {
      "id": "http-docker-after-provision",
      "name": "Deploy stack (after provision)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 460],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Map payload').first().json.infra && $('Map payload').first().json.infra.agentBaseUrl ? new URL('/deploy', $('Map payload').first().json.infra.agentBaseUrl).href : '' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ botDeploymentId: $('Map payload').first().json.botDeploymentId, customerLabel: $('Map payload').first().json.customerLabel, env: $('Map payload').first().json.env, updateStackOnly: $('Map payload').first().json.updateStackOnly }) }}",
        "options": {}
      }
    },
    {
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Map payload", "type": "main", "index": 0 }]]
    },
    "Map payload": {
      "main": [[{ "node": "If updateStackOnly", "type": "main", "index": 0 }]]
    },
    "If updateStackOnly": {
      "main": [
        [{ "node": "Deploy stack (update only)", "type": "main", "index": 0 }],
        [{ "node": "Provision new VPS", "type": "main", "index": 0 }]
      ]
    },
    "Provision new VPS": {
      "main": [[{ "node": "Deploy stack (after provision)", "type": "main", "index": 0 }]]
    },
    "Deploy stack (update only)": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Deploy stack (after provision)": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
